<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{bartenderName}}</h1>
    <p class="bartender-details">
      Works at <i>" {{  bar  }} "</i>
    </p>
  </div>
</div>

<div class="container">
  <h2 class="text-center font-weight-light">Weekly Shifts</h2>
  <p-table [value]="bartendershift">
    <ng-template pTemplate="header">
      <tr>
        <th>Day</th>
        <th>Start time</th>
        <th>End time</th>

      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-bartender>
      <tr>
        <td>{{ bartender.Day}}</td>
        <td>{{ bartender.ShiftStart }}</td>
        <td>{{ bartender.ShiftEnd }}</td>

      </tr>
    </ng-template>
  </p-table>
  <br><br>
</div>

<div class="container">
  <h2 class="text-center font-weight-light">Number of beers sold</h2>
  <p-table [value]="bartenderbeer">
    <ng-template pTemplate="header">
      <tr>
        <th>Beer Name</th>
        <th>No of Beers sold</th>
        

      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-bartender>
      <tr>
        <td>{{ bartender.Item}}</td>
        <td>{{ bartender.beerssold }}</td>
        

      </tr>
    </ng-template>
  </p-table>
  <br><br>
</div>