<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Modifications</h1>
    <p class="lead">Select tables to modify data.</p>
  </div>
</div>



<div class="container">

  <h2 class="text-center font-weight-light">Tables Info (Relational Schema)</h2>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Table Name</th>
        <th scope="col">Schema</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td><a routerLink="/modifications/Bars">Bars</a></td>
        <td>[ Name, License, Phone, Address, City ]</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td><a routerLink="/modifications/Beers">Beers</a></td>
        <td>[ itemName,Manufacture ]</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td><a routerLink="/modifications/Drinkers">Drinkers</a></td>
        <td>[ Name City, Phone, Address ]</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td><a routerLink="/modifications/Frequents">Frequents</a></td>
        <td>[ Drinker, Bar ]</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td><a routerLink="/modifications/Sells">Sells</a></td>
        <td>[ Bar, Item, price ]</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td><a routerLink="/modifications/Foods">Foods</a></td>
        <td>[ itemName ]</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td><a routerLink="/modifications/softDrink">softDrink</a></td>
        <td>[ itemName ]</td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td><a routerLink="/modifications/Items">Items</a></td>
        <td>[ itemName ]</td>
      </tr>
      <tr>
        <th scope="row">9</th>
        <td><a routerLink="/modifications/Timing">Timing</a></td>
        <td>[ Bar, BarDayName, OpeningHour, ClosingHour ]</td>
      </tr>
      <tr>
        <th scope="row">10</th>
        <td><a routerLink="/modifications/likes">likes</a></td>
        <td>[ Name, BeerName ]</td>
      </tr>
      <tr>
        <th scope="row">11</th>
        <td><a routerLink="/modifications/HasStock">HasStock</a></td>
        <td>[ Barname, Itemname, Stock ]</td>
      </tr>
      <tr>
        <th scope="row">12</th>
        <td><a routerLink="/modifications/HasOrdered">HasOrdered</a></td>
        <td>[ Drinker, Bar, Item, Price,Quantity, quantityprice, transaction_id ]</td>
      </tr>
      <tr>
        <th scope="row">13</th>
        <td><a routerLink="/modifications/Transactions">Transactions</a></td>
        <td>[ ID, Date,Day, Time,Sub Total,Tip,Total ]</td>
      </tr>
      <tr>
        <th scope="row">14</th>
        <td><a routerLink="/modifications/Bartender">Bartender</a></td>
        <td>[ Name ]</td>
      </tr>
      <tr>
        <th scope="row">15</th>
        <td><a routerLink="/modifications/Works">Works</a></td>
        <td>[ barName, barTenderName, ShiftHours , bartenderName, EmDayName ]</td>
      </tr>
      <tr>
        <th scope="row">16</th>
        <td><a routerLink="/modifications/BartenderTransaction">BartenderTransaction</a></td>
        <td>[ Name, ID ]</td>
      </tr>
    
  </tbody>
</table>
</div>


