
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Drinker Page</h1>
    <p class="lead">Explore Drinker</p>
  </div>
</div>

<div class="container">
  <h2 class="text-center font-weight-light">Drinker</h2>
  <p-table [value]="drinkers">
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-drinker>
      <tr>
        <td><a routerLink="/drinkers/{{ drinker.Name }}">{{ drinker.Name }}</a></td>
        <td>{{ drinker.Phone }}</td>
        <td>{{ drinker.Address }}</td>
        <td>{{ drinker.City }}</td>
        <td>{{ drinker.State }}</td>
      </tr>
    </ng-template>
  </p-table>
  <br><br>
</div>


<div class="container">
  <br>
  <div id="bargraph">
    
  </div>
</div>