


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome To Bar Beer Drinker.</h1>
    <p class="lead">This is Demo to Learn.</p>
  </div>
</div>
<!--
<div class="container">

    <p-table [value]="bars">
      <ng-template pTemplate="header">
          <tr>
            <th>Name</th>
            <th>Licence</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Phone</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-bar>
          <tr>
            <td>
              <a routerLink="/bars/{{bar.Name}}">
                {{bar.Name}}
              </a>
            </td> 
            <td>{{ bar.License }}</td>
            <td>{{ bar.Address }}</td>
            <td>{{ bar.City }}</td>
            <td>{{bar.State}}</td>
            <td>{{ bar.Phone }}</td>
          </tr>
      </ng-template>
    </p-table>
    

  </div>
  
  <br><br>










<div class="container">
  

  <p-tabel [value]="bars">
    <ng-template pTemplate="header">
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>License</th>
          <th>Address</th>
          <th>City</th>
          <th>State</th>
          <th>Phone</th>
        </tr>

    </ng-template>

    <ng-template pTemplate="body" let-bar>
        <tr>
            <th scope="row">{{i + 1}}</th>
            <td>{{bar.Name}}</td>
            <td>{{bar.License}}</td>
            <td>{{bar.Address}}</td>
            <td>{{bar.City}}</td>
            <td>{{bar.State}}</td>
            <td>{{bar.Phone}}</td>
        </tr>
    </ng-template>


  </p-tabel>
 

-->

<!--
    
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">License</th>
          <th scope="col">Address</th>
          <th scope="col">City</th>
          <th scope="col">State</th>
          <th scope="col">Phone</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bar of bars; index as i">
          <th scope="row">{{i + 1}}</th>
          <td>{{bar.Name}}</td>
          <td>{{bar.License}}</td>
          <td>{{bar.Address}}</td>
          <td>{{bar.City}}</td>
          <td>{{bar.State}}</td>
          <td>{{bar.Phone}}</td>

        </tr>
      </tbody>
    </table>


</div>
 
-->
