
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{drinkerName}}</h1>
    <p class="drinker-details" *ngIf="drinkerDetails">
      {{drinkerDetails?.Address}} <span *ngIf="drinkerDetails.Address && drinkerDetails.City">|</span>
      {{drinkerDetails?.City}} | {{drinkerDetails?.State}}
      <br>
      {{drinkerDetails?.Phone}}
    </p>
  </div>
</div>

<div class="container">
  <br>
  <div id="bargraph">
    
  </div>
</div>

<div class="container">
  <br>
  <div id="bargraph2">
    
  </div>
</div>

<div class="container">
  <br>
  <div id="bargraph1">
    
  </div>
</div>

<div class="container">
    <h2 class="text-center font-weight-light">Transactions</h2>
    <p class="text-center">Transaction details</p>
    <p-table [value]="drinkerTransactions">
      <ng-template pTemplate="header">
        <tr>
          <th>ID</th>
          <th>Bar</th>
          <th>Item</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Amount</th>
          <th>Date</th>
          <th>Time</th> 
          <th>Tip</th>
          <th>Total</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-beer>
        <tr>
          <td>{{ beer.ID }}</td>
          <td>{{ beer.Bar }}</td>
          <td>{{ beer.Item }}</td>
          <td>{{ beer.price }}</td>
          <td>{{ beer.Quantity }}</td>
          <td>{{ beer.Amount }}</td>
          <td>{{ beer.Date }}</td>
          <td>{{ beer.Time }}</td>
          <td>{{ beer.Tip }}</td>
          <td>{{ beer.Total }}</td>
        </tr>
      </ng-template>
    </p-table>
    <br><br>
  </div>

  